.about-container {
  max-width: 1500px;
  margin: auto;
}

h1 {
  text-align: center;
  font-size: 5em;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  color: blue;
}

.about-head {
  text-align: center;
  font-size: 3em;
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  color: blue;
}

.about-para {
  margin: 1% 5%;
  font-size: 2em;
  font-family: "Times New Roman", Times, serif;
  font-weight: 200;
  color: red;
  padding: 1em 2em;
}

.about-para {
  transform: translateX(-100%); /* Initially off-screen to the left */
  animation: slideIn 2s ease-out forwards; /* Slide-in animation */
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%); /* Start position: off-screen left */
  }
  100% {
    transform: translateX(0); /* End position: back to original position */
  }
}

#image1 {
  padding-left: 14%;
  height: 60%;
  width: 90%;
}

.image-container {
  display: flex;
  justify-content: space-around;
  transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transition for scale and opacity */
}

#image1 {
  transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transition for scale and opacity */
}

#image1:hover {
  transform: scale(1.1); /* Image ko 1.1x size ka bana dega */
  opacity: 0.8; /* Hover par image thodi transparent ho jayegi */
}

.image2 {
  height: auto;
  width: 30%;
  border-radius: 3%;
  transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transition for scale and opacity */
}

.image2:hover {
  transform: scale(1.1); /* Image ko 1.1x size ka bana dega */
  opacity: 0.8; /* Hover par image thodi transparent ho jayegi */
}

@media (max-width: 425px) {
  .footer-content {
    font-size: 0.875rem;
    font-weight: 200;
    text-align: justify;
  }
  h1 {
    font-size: 2em;
  }
  .about-head {
    font-size: 1em;
  }
  .about-para {
    padding: 1em 0.5em;
  }
}

@media (max-width: 768px) {
  .footer-content {
    font-size: 1rem;
    font-weight: 200;
    text-align: justify;
  }
  h1 {
    font-size: 4em;
  }
  .about-head {
    font-size: 2em;
  }
  .about-para {
    padding: 1em 0.6em;
  }
}
